<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Регистрация</title>
</head>

<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3">Регистрация нового пользователя</h3>
  <form method="POST" class="needs-validation" style="max-width: 50vw" th:action="@{/users/registration}" th:object="${userForm}">
    <div class="mt-3 row g-2">
      <!-- Поле логина -->
      <div class="col-md">
        <div class="form-floating">
          <input th:field="*{login}" type="text" class="form-control" id="login" placeholder="Введите логин" minlength="4" maxlength="8" required>
          <label for="login">Логин</label>
          <div class="invalid-feedback">Логин должен быть от 4 до 8 символов.</div>
          <div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('login')}">
            <p th:errors="*{login}"></p>
          </div>
        </div>
      </div>

      <!-- Поле пароля -->
      <div class="col-md">
        <div class="form-floating">
          <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Введите пароль" minlength="4" maxlength="12" required>
          <label for="password">Пароль</label>
          <div class="invalid-feedback">Пароль должен быть от 4 до 12 символов.</div>
          <div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('password')}">
            <p th:errors="*{password}"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 row g-2">
      <!-- Поле имени -->
      <div class="col-md">
        <div class="form-floating">
          <input th:field="*{firstName}" type="text" class="form-control" id="firstName" placeholder="Введите имя" minlength="6" maxlength="40" required>
          <label for="firstName">Имя</label>
          <div class="invalid-feedback">Имя должно быть от 6 до 40 символов.</div>
          <div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('firstName')}">
            <p th:errors="*{firstName}"></p>
          </div>
        </div>
      </div>

      <!-- Поле фамилии -->
      <div class="col-md">
        <div class="form-floating">
          <input th:field="*{lastName}" type="text" class="form-control" id="lastName" placeholder="Введите фамилию" minlength="6" maxlength="40" required>
          <label for="lastName">Фамилия</label>
          <div class="invalid-feedback">Фамилия должна быть от 6 до 40 символов.</div>
          <div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('lastName')}">
            <p th:errors="*{lastName}"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 row g-2">
      <!-- Поле email -->
      <div class="col-md">
        <div class="form-floating">
          <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="Введите email" minlength="10" maxlength="30" required>
          <label for="email">Email</label>
          <div class="invalid-feedback">Email должен быть от 10 до 30 символов.</div>
          <div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('email')}">
            <p th:errors="*{email}"></p>
          </div>
        </div>
      </div>

      <!-- Поле даты рождения -->
      <div class="col-md">
        <div class="form-floating">
          <input th:field="*{birthDate}" type="date" class="form-control" id="birthDate" placeholder="Введите дату рождения" required>
          <label for="birthDate">Дата рождения</label>
          <div class="invalid-feedback">Введите корректную дату рождения.</div>
          <div class="alert alert-danger mt-2" th:if="${#fields.hasErrors('birthDate')}">
            <p th:errors="*{birthDate}"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>

</html>
