<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О Разработчиках</title>
</head>
<body>
<div layout:fragment="content">

    <h1>О Разработчиках</h1>
    <p><strong>Лабораторный практикум по дисциплине "Технологии программирования"</strong></p>
    <p><strong>Тема: "Автоматизированная система бронирования билетов в кинотеатре"</strong></p>

    <h2>Разработчики:</h2>
    <ul>
        <li>Авсиевич Григорий</li>
        <li>Ежова Ульяна</li>
        <li>Лукинова Арина</li>
        <li>Строков Николай</li>
    </ul>

    <h2>Руководитель:</h2>
    <p>Зеленко Лариса Сергеевна</p>

    <footer>
        <p>Самарский университет 2024</p>
    </footer>
</div>
</body>
</html>